<h1>About!</h1>
<p class="">This is awesome answers! I don't really know what it does, but it's going to be awesome!</p>

<hr>
<div class="well">
  <p>My name is Daniel Johnson, currently a student at Codecore Academy and learning the mysteries of Ruby on Rails</p>

  <img style="width:200px; height: 200px; border-radius: 100px;" src="http://i.imgur.com/YCWtq3X.jpg?2">
</div>
